.Sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a3afbe;
    padding: 25px 15px;
}

.Sidebar img{
    width: 20px;
}

.Sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.Sidebar .new-chat{
    margin-top: 50px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 14px;
    color: gray ;
    cursor: pointer;
}

.Sidebar .new-chat:hover{
    background-color: #e2e6eb;
}

.Sidebar .recent{
    display: flex;
    flex-direction: column;
    animation:fadeIn 1.8s ;
}

.Sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}


.Sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}


.Sidebar .recent-entry:hover{
    background-color: #e2e6eb;

}

.Sidebar .buttom{
    display: flex;
    flex-direction: column;
}

.Sidebar .buttom-item{
    padding-right: 10px;
    cursor: pointer;
}


@media (max-width:600px){
    .Sidebar{
        display:none ;
    }
}